body {
  background-image: url(https://cdn.pixabay.com/photo/2013/08/06/05/27/clouds-170135_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#search-input,
.weather-container {
  border: 3px solid #ffc107;
}

.temperature-value {
  cursor: pointer;
  color: greenyellow;
}
